
body{
    margin: 0;
    display:flex;
    justify-items: center;
    align-items: center;
    background-color: grey;
}
.container {
    justify-items: center;
    width: 100%;
    margin: 3%;
    height: auto;
    text-align: center;
    border-radius: 50px;
    background-color: grey;
}
.output {
    margin: 0;
    margin-top: 8%;
    width: auto;
    height: auto;

}
